*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.15);
}
header .container{
    width: 1200px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.logo{
    height: 50px;
}
.auth{
    height: 50px;
}